 <!-- Herencia HTML -->
 {% extends "padre.html" %}

  <!-- Silenciar Sección: Portafolio -->
  {% block portafolio %}
  {% endblock %}
    
  <!-- Silenciar Sección: Header -->
  {% block mastheader %}
  {% endblock %}

   <!-- Sección: Título -->
  {% block titulo %}
  EDITA TU USUARIO AQUÍ
  {% endblock %}

   <!-- Sección: Párrafo -->
  {% block parrafo %}
  
  <form action="" method="POST"> {% csrf_token %}
  
  {{formu.as_p}}
  
  <button type="submit"> Editar </button>
  
  </form>
  {% endblock %}