 <!-- Herencia HTML -->
 {% extends "padre.html" %}

 <!-- Silenciar Sección: Header -->
 {% block mastheader %}
 {% endblock %}
 
 <!-- Silenciar Sección: Portafolio -->
 {% block portafolio %}
 {% endblock %}

<!-- Sección: Título --> 
{% block titulo %}
NUESTROS DOCTORES
{% endblock %}

<!-- Sección: Párrafo --> 
{% block parrafo %}
Elimina un paciente.
<form action="" method="post"> {% csrf_token %}

<p>Quiere eliminar al paciente: {{object}} ? </p>

<input type="submit" value="ELIMINAR">

</form>

{% endblock %}