 <!-- Herencia HTML -->
{% extends "padre.html" %}

 <!-- Silenciar Sección: Header -->
 {% block mastheader %}
 {% endblock %}
 
  <!-- Silenciar Sección: Portafolio -->
 {% block portafolio %}
 {% endblock %}

 <!-- Sección: Título -->
{% block titulo %}
CREAR UN PACIENTE
{% endblock %}

 <!-- Subsección: Subtítulo -->
{% block subtitulo %}
Ingresa los datos del paciente para registrarlo
{% endblock %}

 <!-- Sección: Párrafo -->
{% block parrafo %}

<form action="/AppSalud/crear_usuario/" method="post" enctype="multipart/form-data"> {% csrf_token %}

{{formu.as_p}}

<input type="submit" value="Registrar">

</form>

{% endblock %}